{% extends "base.html" %}

{% block content %}
<form>
        <h1>Привет, {{ username }}!</h1>
        <a href="/logout">Выйти</a>
        <h1>Учителя:</h1>
        {% for i in all %}
        <h2>
            {{ i[3].name }} {{ i[3].surname }}</h2>
        <p class="alert alert-info" role="alert">Кол-во учеников: {{ i[0] }}</p>
        <p class="alert alert-success" role="alert">Проверено задач: {{i[1]}}</p>
        <p class="alert alert-danger" role="alert">На проверке задач: {{i[2]}}</p>
{% endfor %}
</form>
{% endblock %}