{% extends "base.html" %}

{% block content %}
<form>
        <h1>Привет, {{ user.username }}!</h1>
        <a href="/logout">Выйти</a>
    <h1 class="alert alert-primary" role="alert">Имя: {{ user.name }}
    Фамилия: {{ user.surname }}</h1>
    <div class="alert alert-dark" role="alert">
{% for i in all %}
        <h2 class="alert alert-dark" role="alert"> <a href="/YandexLyceumTeacher/{{ user.id }}/students/{{ i[3].id }}">
            {{ i[3].name }} {{ i[3].surname }}</a></h2>
        <p class="alert alert-warning" role="alert">Ждут проверки: {{ i[0] }}</p>
        <p class="alert alert-success" role="alert">Зачтено: {{i[1]}}</p>
        <p class="alert alert-danger" role="alert">На доработку: {{i[2]}}</p>
{% endfor %}
    </div>
</form>
{% endblock %}