{% extends "base.html" %}

{% block content %}
<form>
        <h1>Привет, {{ user.username }}!</h1>
        <a href="/logout">Выйти</a>
    <div class="alert alert-dark" role="alert">Имя: {{ user.name }}</div>
    <div class="alert alert-dark" role="alert">Фамилия: {{ user.surname }}</div>
    <a href="/YandexLyceumStudent/{{id}}/add">Отправить посылку
    <a href="/YandexLyceumStudent/{{id}}/add/message">Отправить сообщение учителю</a>
{% for i in all %}
        {% if i.status == 'OK' %}
            <div class="alert alert-success" role="alert">
            {{i.task}}
            </div>
        {% endif %}
        {% if i.status == 'Error' %}
            <div class="alert alert-danger" role="alert">
            <a href="/YandexLyceumStudent/{{id}}/tasks/{{ i.id }}" >{{i.task}}</a>
            </div>
        {% endif %}
                {% if i.status == 'Check' %}
            <div class="alert alert-warning" role="alert">
            <a href="/YandexLyceumStudent/{{id}}/tasks/{{ i.id }}">{{i.task}}</a>
            </div>
        {% endif %}
{% endfor %}
</form>
{% endblock %}