{% extends "base.html" %}

{% block content %}
<form>
    <h1 class="alert alert-primary" role="alert">Имя: {{ user.name }}</h1>
    <h1 class="alert alert-primary" role="alert">Фамилия: {{ user.surname }}</h1>
{% for i in all %}
        {% if i.status == 'OK' %}
            <div class="alert alert-success" role="alert">
            {{i.task}}
            </div>
        {% endif %}
        {% if i.status == 'Error' %}
            <div class="alert alert-danger" role="alert">
            <a href="/YandexLyceumTeacher/{{ id }}/students/{{ user.id }}/tasks/{{ i.id }}/text" >{{i.task}}</a>
            </div>
        {% endif %}
                {% if i.status == 'Check' %}
            <div class="alert alert-warning" role="alert">
            <a href="/YandexLyceumTeacher/{{ id }}/students/{{ user.id }}/tasks/{{ i.id }}/text" >{{i.task}}</a>
            </div>
        {% endif %}
{% endfor %}
</form>
{% endblock %}