{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
{{ form.hidden_tag() }}
        {% if task.status == 'OK' %}
            <div class="alert alert-success" role="alert">
                <h1>Задание {{ task.task }}!</h1>
            </div>
            <div>{{ task.code }}</div>
        {% endif %}
        {% if task.status == 'Error' %}
            <div class="alert alert-danger" role="alert">
            <h1>Задание {{ task.task }}!</h1>
            </div>
            <div>{{ task.code }}</div>
        {% endif %}
        {% if task.status == 'Check' %}
            <div class="alert alert-warning" role="alert">
            <h1>Задание {{ task.task }}!</h1>
            </div>
            <div>{{ task.code }}</div>
        {% endif %}
                <div class="form-group">
            {{ form.code.label }}<br>
            {{ form.code }}<br>
            {% for error in form.code.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                    {% endfor %}
                    </div>
        <p>{{ form.submit() }}</p>
</form>
    <form action="" method="post" novalidate>
    <div class="alert alert-dark" role="alert">Комментарии:
    {% for i in k %}
    <p class="alert alert-light" role="alert">{{ i.who }}: {{ i.message }}</p>
                {% endfor %}
        {{ form2.hidden_tag() }}
        <p>
            {{ form2.message.label }}<br>
            {{ form2.message }}<br>
            {% for error in form2.message.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form2.submit1() }}</p>
    </div>
   </form>
        <a href="/">На главную</a>
{% endblock %}